/*Here I am establishing variables for colors I use very often, int he case i change the color I don't have to go back and 
adjust all instances of it, I just have to edit it here*/
:root {
    --border-color: #2c1161;
    --light-font: #fff;
    --dark-font: black;
    --blue-box: lightblue;
}

/*Wildcard, states that everything will have no padding/margins (unless specified)
the font family, and that it is a border box sizing, i.e. the border is included in an images height/width*/
* {
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

/*Here I establish that the header will be in flex and that the elements within it will be in columns
the background image is also estblihed*/
header,
footer {
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 100%;
    background-image: url("../Images/background-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Here we are stating that the background is a certain color*/
body {
    background-color: aliceblue;
}

/*All h1 headings will be aligned in the center of their respective field,
be white in color and the font size will change to always be 3% of the total height*/
h1 {
    align-self: center;
    color: var(--light-font);
    font-size: calc(20px + 3vw);
}

/*The nav bar will wrap incase of overflow, and establishing padding */
nav {
    margin-top: 2vh;
    padding: .2vh;
    flex-wrap: wrap;
    align-self: center;
}

/*Establish that I want it to wrap when it overflows, the colors, the decoration etc.
I have a min font size and i want it to change based off the viewport width*/
nav a {
    font-size: calc(7px + 1.5vw);
    flex-wrap: wrap;
    padding: 10px;
    background-color: var(--blue-box);
    border: 9px solid var(--border-color);
    text-decoration: none;
    color: var(--dark-font);
}

.headers {
    text-decoration: underline 5px solid #2c1161;
    justify-content: center;
    display: flex;
    justify-content: center;
    font-size: calc(15px + 2vh);
}

.bio-format {
    margin-top: 1px;
    display: flex;
    width: 100%;
    border: 9px solid var(--border-color);
    background-color: var(--blue-box);
    margin-bottom: 10px;
}

/*Must next display flex's here*/
.bio {
    display: flex;
    padding: 10px;
}

.bio figure {
    display: flex;
}

.bio img {
    max-width: 100%;
    align-self: center;
}

.bio p {
    max-width: 100%;
    padding: 1%;
    justify-content: center;
    font-size: calc(9px + 1vw);
}

/*All Project titles are going to have the same format*/
.project-titles {
    background-color: var(--border-color);
    padding: 15px;
    max-width: fit-content;
    text-decoration: none;
    color:var(--light-font);
    max-width: fit-content;
}

.work-format {
    display: flex;
    width: 100%;
}

.prior-work {
    padding-top: 1vh;
}

.prior-work img{
    max-width: 100%;
    border: 9px solid var(--border-color);
}

#prework {
    position: relative;
}
#prework h3 {
    position: absolute;
    bottom: 12px;
    left: 10px;
    font-size: calc(12px + 1.5vh);
}

.small-class {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.other-work {
    flex: 1 1 300px;
    position: relative;
    text-align: center;
    width: fit-content;
}

.other-work figure {
    max-width: 100%;
    position: relative;
    padding: 3px;
}


.other-work .project-titles {
    font-size: calc(10px + 1vh);
    position: absolute;
    bottom: 12px;
    left: 12px;
}

@media screen and (max-width:599){
    .small-class,
    .other-work{
        width: 25%;
    }

}
