*{
    padding: 0px;
    margin: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
header{
    padding: 20px;
    background-color:lightblue;
}

header h1{
    display: inline-block;
}
header nav {
    float: right;
    padding-top: 10px; /*Question: can this be betterr, trying here, but not working*/
}

header nav a{
    padding:10px;  
 }

 .Top-Image{
    position: relative;
    text-align: center;
 }
 .Top-Image img{
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
 }

 .Top-Image h2{
    color: #ffffff;
    position: absolute;
    bottom: 40px;
    right: 16px;
 }

 .bio-format{
    position:relative;
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-left: 20px;
 }
 .bio{
    display: flex;
    margin-bottom: 20px;
    padding: 50px;
 }
 /*This will be the vertical line between all the Headers and the */
.Vert-Line{
    border-right: 5px solid #2c1161;
    padding: 5px;
}
 .bio p{
    position: relative;
    left:20px;
 }
 .headers {
    float: left;
    font-size: 30px;
 }

.prior-work{

}

.prior-work img{
    position: relative;
    text-align: center;
}

.project-titles{
    position: absolute;
    bottom: 10px;
    left: 10px;
}